body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    transition: background-color 0.7s, color 0.7s;
}

.calculator{
    width: 250px;
    background-color:#f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301); 
    padding: 20px;

    padding: 10px; 
}
#display{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff; 
}

.button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn{
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff; 
    color: #333;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.1s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover{
    background-color: #e0e0e0; 
}

.btn:active{
    background-color: #cccccc; 
}

.operator{
    background-color: #f9a825;
    color: white;
}

.operator:hover{
    background-color: #f57f17; 
}

.operator:active{
    background-color: #e53935;
}

.clear{
    grid-column: span 4;
    background-color: #e53935;
    color: white;
    font-weight: bold;
}

.clear:hover{
    background-color: #c62828;
}

.clear:active{
    background-color: #9c0000;
}

.btnmode{
    grid-column: span 4;
    background-color: rgb(57, 57, 57);
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
    border: none;
    cursor: pointer;
}



/* Dark Mode */
.dark-mode {
    background-color: #1a1a1a; 
    color: #ffffff;
}

.dark-mode .kalkulator {
    background-color: #333;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.dark-mode .btn {
    background-color: #555;
    color: #ffffff;
}

.dark-mode .btn.operator {
    background-color: #e53935;
    color: white;
}

.dark-mode .btn.clear {
    background-color: #ffac28;
    color: white;
}


.eror-mode {
    background-color: #880000; 
    color: #ffffff;
}